# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# VSCode
*.code-workspace
.vscode/

.DS_Store

MISC/

data/train/*
data/test/*

/datasets/images/test/*
/datasets/images/train/*
/datasets/images/valid/*

/datasets/labels/test/*
/datasets/labels/train/*
/datasets/labels/valid/*
